<button type="button" onclick={{action "starEmail"}} >
  {{#if @starred}}
    <img data-test="star-button" src="/star-filled.png" alt="filled star" >
  {{else}}
    <img data-test="unstar-button" src="/star-empty.png" alt="empty star" >
  {{/if}}
</button>
