
<h2>Starred Emails:</h2>
<ul>
  {{#each model as |email|}}
    {{#if email.starred}}
      <DisplayEmail @email = {{email}}/>
    {{else}}
    {{/if}}
  {{/each}}
</ul>

<h2>All Emails:</h2>
<ul>
  {{#each model as |email|}}
      <DisplayEmail @email = {{email}}/>
  {{/each}}
</ul>

{{outlet}}
